
						/*Nav bar*/
.nav-config{
	height: 110px;
	background-color: rgb(59,12,12);
	padding: 0px;
	margin-bottom: 0px;
}

.nav-item-menu{				
	padding-top: 40px;
}
.nav-item-menu > li > a{
	color: rgb(209,66,51);
	padding-top: 3px;
	padding-bottom: 3px;
	margin-right: 5px;
	margin-left: 5px; 
	background-color: transparent;

}
.nav-item-menu > li > a:hover,.nav-item-menu > li > a:focus {
	 text-decoration: none;
    background-color: transparent;
    border: 2px solid rgb(209,66,51);
}

.nav-active-item a{
	border: 2px solid;
	border-color:rgb(209,66,51);
}
a:hover a:focus{
	color: rgb(209,66,51);
	text-decoration: underline;
}
.nav-config ul > li{
	padding-right: 10px;
	
}
			/*BODY CONTNAINER*/
.description{
	margin-top: 100px;
	margin-left: 200px;
}

.body-container-home-page{
	height: 400px;
	background-color: rgb(209,66,51);
	padding-top: 60px;
}
.body-container-startup-page{
	height: 960px;
}

.body-container-register-page{
	height: 500px;
}

.body-container-login-page{
	height: 400px;
	margin-top: 100px;
}
						/*FOOTER CONTNAINER*/
.footer-home-page{
	background-color: rgb(59,12,12);
}

.footer-others-page{
	margin-top: 30px;
	background-color: rgb(59,12,12);
}

.footer-icon ul > li{
	display: inline-block;
	padding: 15px;
	font-size: 20px;
	
}
#copyright{
	padding-left: 30px;
	padding-top: 10px; 
	color: white;
}

					/*Home page image position*/
.img-index-z1{
	position: absolute;
	z-index: 1;
	margin-left: 200px;
	margin-top: 200px;
}
.img-index-z2{

	margin-top: 100px;
	margin-left: 450px;
	position: absolute;
	z-index: 2;
	color:white;

}

/*Startup  page image and search-box position*/
.search-box{
	width: 100%;
	margin-left: 70px;
}
hr{
	border: 1px solid;
	border-color: rgb(243,243,243);
}
.startup-item-size{
	margin-top: 50px;
	margin-bottom: 50px;
}
.startup-item-size img{
	margin-right: 50px;
	border: 1px solid;
	border-color: rgb(237,237,237);
}
